* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 50%;
    height: max-content;
    border: 8px solid blueviolet;
}
#noBtn {
    display: none;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
#HelloSection {
    display: none;
}