* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#formSection {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

}
main {
    width: 50%;
    height: max-content; /*height will take the maximum of the content*/
          display: flex;
    flex-direction: column;
   
}

#fillForm {
    display: none;
}